spring:
  application:
    name: job-scraper-data-layer

  datasource:
    url: jdbc:postgresql://localhost:5432/jobscraper
    driver-class-name: org.postgresql.Driver
    username: jobscraper_user
    password: changeme123

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080
  error:
    include-message: always
    whitelabel:
      enabled: false

logging:
  level:
    root: INFO
    pl.jobscraper: DEBUG
    org.springframework.web: DEBUG