@import "tailwindcss";

/* Not visible scrollbar */
@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none !important;
    }

    scrollbar-width: none !important;

    -ms-overflow-style: none !important;
}

/* Animated delays */
@keyframes pulse {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.animate-pulse {
    animation: pulse 1.5s ease-in-out infinite;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}